body {
    margin: 0;
    display: flex;
    flex-direction: column;
}



.logo {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-color: #387f63;
}

.welcome {
    color: white;
    font-size: 3rem;
}

.countdown {
    margin: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.countdown div {
    margin: 0 15px;
    font-size: 2em;
    font-weight: 400;
    margin-top: -25px;
    position: relative;
    width: 100px;
    
}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: .40em;
    line-height: 40px;
    text-transform: upper;
    font-weight: 100;
    width: 100%;
    height: 40px;
}


.countdown #days::before{
    content: "Days";
    font-size: .60em;

}
.countdown #hours::before{
    content: "Hours";
    font-size: .60em;

}
.countdown #minutes::before{
    content: "Minutes";
    font-size: .60em;

}
.countdown #seconds::before{
    content: "Seconds";
    font-size: .60em;

}

